.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 60px;
  width: 100%;
}

.formContainer {
  position: relative;
}

.inputContainer {
  width: 380px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  padding-left: 45px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  outline: transparent;
  outline-offset: 4px;
}

.buttonContainer {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: 2px;
  top: 6px;
  /* z-index: 99999999; */
}

.iconContainer {
  width: 20px;
  height: 20px;
}
